.App {
  background-color: #374047;
  height: 100vh;
  width: 100vw;
}
.chess-board {
  padding-top: 10vh;
  padding-left: 10vh;
}
.cell-default {
  width: calc(calc(70vh/8));
  height: calc(70vh/8);
  background-color: none;
  background: none;
  border: solid black 1px;

}